body {
    font-family: "Lucida Sans", sans-serif;
    background: url("https://c7.alamy.com/comp/JY6CGY/flags-of-different-european-countries-against-white-background-JY6CGY.jpg");
    background-size: 100vw 110vh;
}

@media only screen and (max-width: 768px) {
    .container.description {
        flex-direction: column !important;
        text-align: center;
    }

    body {
        background-size: cover 110vh;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .5;
    z-index: -1;
    left: 0;
    top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container.title {
    text-transform: uppercase;
    font-style: italic;
    color: darkslateblue;
    padding: 0;
    text-align: center;
}

.container.description {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-weight: normal;
    padding: 0;
    margin-bottom: 50px;
}

.container.description b {
    margin: 0 5px;
    color: darkslateblue;
}